<div class="dashboard-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar"> <!-- Background: main.css line 6561 -->

       <div class="text-center">
        <h2 class="brand">Healthy Walking</h2>
        <h4><i><img src="images/runlogo.png" class="user-avatar" /></i></h4>
        <a ui-sref="logout" class="btn btn-white btn-outline btn-rounded btn-sm">Logout</a>
      </div>

      <ul class="nav nav-sidebar">
        <li ng-class="{active: $state.includes('overview')}"><a ui-sref="overview">Home <span class="sr-only">(current)</span></a></li>
        <li ng-class="{active: $state.includes('mydetails')}"><a ui-sref="mydetails">Mijn gegevens</a></li>
		<li ng-class="{active: $state.includes('myclients')}"><a ui-sref="myclients">Mijn clienten</a></li>
    <li ng-class="{active: $state.includes('routes')}"><a ui-sref="routes">Routes</a></li>
        <li ng-class="{active: $state.includes('register')}"><a ui-sref="register">Registreer</a></li>
      </ul>

    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ui-view>
    </div>
  </div>
</div>
</div>