<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Index</title>
	</head>
	<body>
		<div id="monitors"></div>
		<script>
			var webSocket = new WebSocket("ws://localhost:9000/ws");
	        webSocket.onmessage = function(event){
	        	var response = JSON.parse(event.data);
	        	var responseAction = response.responseAction;
	        	if(responseAction === "getAllMonitors"){
	        		updateMonitors(response);
	        	}
	        };
	        webSocket.onopen = function(event){
	        	getAllMonitors();
	        };
	        
	        function getAllMonitors(){
	        	webSocket.send('{"requestAction": "getAllMonitors"}');
	        }
	        
	        function updateMonitors(response){
	        	document.getElementById("monitors").innerHTML = JSON.stringify(response.monitors);
	        }
		</script>
	</body>
</html>