<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Index</title>
	</head>
	<body>
		<button type="button" onclick="getAllMonitors();">Get all monitors</button>
		<button type="button" onclick="getAllClients();">Get all clients</button>
		<button type="button" onclick="registerMonitor();">Register monitor</button>
		<button type="button" onclick="registerClient();">Register client</button>
		<button type="button" onclick="removeUser();">Remove user</button>
		<button type="button" onclick="assignClientToMonitor();">Assign client to monitor</button>
		<button type="button" onclick="createRunSchema();">Create run schema</button>
		<button type="button" onclick="assignRunSchemaToClient();">Assign run schema to client</button>
		<button type="button" onclick="assignRunToRunSchema();">Assign run to run schema</button>
		<button type="button" onclick="createRun();">Create run</button>
		<button type="button" onclick="deleteRunFromRunSchema();">Delete run from run schema</button>
		<button type="button" onclick="deleteRunSchemaFromClient();">Delete run schema from client</button>
		<button type="button" onclick="createProfile()">Create Profile</button>
		<button type="button" onclick="createProperty()">Create Property</button>
		<button type="button" onclick="setProperties()">Set Properties</button>
		<button type="button" onclick="getProfileWithProperties()">Get Profile with Properties</button>
		<button type="button" onclick="getAllProfilesWithProperties()">Get All Profiles with Properties</button>
		<button type="button" onclick="getAllCareProperties()">Get All Care Properties</button>

		<div id="response"></div>
		<script>
			var webSocket = new WebSocket("ws://localhost:9000/ws");
	        webSocket.onmessage = function(event){
	        	document.getElementById("response").innerHTML = event.data;
	        };
	        webSocket.onopen = function(event){
	        	
	        };
	        
	        function getAllMonitors(){
	        	webSocket.send('{"requestAction": "getAllMonitors"}');
	        }
	        
	        function getAllClients(){
	        	webSocket.send('{"requestAction": "getAllClients"}');
	        }
	        
	        function registerMonitor(){
	        	webSocket.send('{"requestAction": "registerMonitor","person": {"firstName": "Henderikus","lastName": "Harms","phoneNumber": "0636437443","username": "HarmsH","password": "secret","accessLevel": "1"}}');
	        }
	        
	        function registerClient(){
	        	webSocket.send('{"requestAction": "registerClient","firstName": "Tom","lastName": "Meijer","phoneNumber": "0636437443","username": "tomClient","password": "tom"}');
	        }
	        
	        function removeUser(){
	        	webSocket.send('{"requestAction": "removeUser", "personalDataId": "16"}');
	        }
	        
	        function assignClientToMonitor(){
	        	webSocket.send('{"requestAction": "assignClientToMonitor","monitorId": "8","clientId": "7", "monitorNumber": "1"}');
	        }
	        
	        function createRunSchema(){
	        	webSocket.send('{"requestAction": "createRunSchema","name": "runschema1","description": "run for your life"}');
	        }
	        
	        function assignRunSchemaToClient(){
	        	webSocket.send('{"requestAction": "assignRunSchemaToClient","clientId": "7","runSchemaId": "15"}');
	        }
	        
	        function assignRunToRunSchema(){
	        	webSocket.send('{"requestAction": "assignRunToRunSchema","runSchemaId": "15","runId": "1","day": "2","time": "15:00:00"}');
	        }
	        
	        function createRun(){
	        	webSocket.send('{"requestAction": "createRun","name": "run1","description": "run run run","route": [["12", "13"],["11", "15"],["3", "17"]]}');
	        }
	        
	        function deleteRunFromRunSchema(){
	        	webSocket.send('{"requestAction": "deleteRunFromRunSchema",	"runSchemaId": "15","runId": "1"}');
	        }
	        
	        function deleteRunSchemaFromClient(){
	        	webSocket.send('{"requestAction": "deleteRunSchemaFromClient","runSchemaId": "15","clientId": "7"}');
	        }
	        function createProfile(){
	        	webSocket.send('{"requestAction": "createEmptyCareProfile", "careProfile": {"name": "profile1"}}');
			}
			function createProperty(){
				webSocket.send('{"requestAction": "createCareProperty", "careProperty": {"name": "Analfabeet", "description": "Client kan niet lezen"}}');
			}
			function setProperties(){
				webSocket.send('{"requestAction": "setCareProfileProperties", "careProfileId": "2","careProperties": [{"carePropertyId": 3, "applies": 1}, {"carePropertyId": 1, "applies": 0}]}');
			}
			function getProfileWithProperties(){
				webSocket.send('{"requestAction": "getCareProfileWithProperties", "careProfileId": "2"}');
			}
			function getAllProfilesWithProperties(){
				webSocket.send('{"requestAction": "getAllProfilesWithProperties"}');
			}
			function getAllCareProperties(){
				webSocket.send('{"requestAction": "getAllCareProperties"}');
			}
		</script>
	</body>
</html>