<style>
	.maxwidthcontainer {
		max-width: 600px;
	}
</style>


<div>
	<a ng-click="back()" class="pull-right btn btn-primary btn-outline btn-rounded"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Ga terug</a>
	</div>
	<h2>Client bekijken<small></small></h2>
	<div class="jumbotron">
		<b>Gebruikersnaam</b><br/>
		<i>{{data.username}}</i><br/><br/>

		<b>Voornaam</b><br/>
		<i>{{data.firstName}}</i><br/><br/>

		<b>Achternaam</b><br/>
		<i>{{data.lastName}}</i><br/><br/>

		<b>Telefoonnummer</b><br/>
		<i>{{data.phoneNumber}}</i><br/><br/>
		<b>Gekoppelde runschema's</b><br/>
		Kies een runschema om dit schema te bekijken.<br/>
		<select class="dropdown" ng-model="selectedSchema" ng-options="x.name for x in schemas" ng-change="dropdownChange()">
		</select><br/><br/>
		<a class="pull-left btn btn-primary btn-outline btn-rounded" ui-sref="connectschema({id: data.id})">Koppel nieuw schema</a>
	</div>
</div>