<h2>Maps</h2>
<div class="jumbotron"> 
<br>
	<div id="map"></div>
	<br>
	<br>
	<form>
		<div class="form-group">
			<label for="firstname">Naam van de run</label>
			<input type="text" class="form-control" ng-model="runName" placeholder="Naam">
		</div>
		<div class="form-group">
			<label for="lastname">Beschrijving van de run</label>
			<input type="text" class="form-control" ng-model="runDescription" placeholder="Beschrijving">
		</div>
	</form>
	<button type="button" class="btn btn-danger" ng-click="createJson()">Run toevoegen</button>
</div>

