

<div class="jumbotron"> 
<h2>Maps</h2>
<br>
	<div id="map"></div>
	<br>
	{{lat}}  ,  {{lng}}
	<br>
	<form>
		<div class="form-group">
			<label for="firstname">Naam van de route</label>
			<input type="text" class="form-control" ng-model="runName" placeholder="Naam">
		</div>
		{{runName}}
		<div class="form-group">
			<label for="lastname">Beschrijving van de route</label>
			<input type="text" class="form-control" ng-model="runDescription" placeholder="Beschrijving">
		</div>
		{{runDescription}}
	</form>
	<button type="button" class="btn btn-danger" ng-click="createJson()">Route toevoegen</button>
</div>

