<style>
	.maxwidthcontainer {
		max-width: 600px;
	}
</style>


<div>
	<a ng-click="back()" class="pull-right btn btn-primary btn-outline btn-rounded"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Ga terug</a>
	</div>
	<h2>Nieuwe client koppelen<small></small></h2>
	<div class="jumbotron">
		<h4>Hier kun je een nieuwe client koppelen.<br/>Klik op de gebruikersnaam van een client om deze aan jezelf te koppelen.</h4>
		<table class="table table-hover">
		<thead>
			<tr>
				<th>Gebruikersnaam</th>
				<th>Voornaam</th>
				<th>Achternaam</th>
				<th>Telefoonnummer</th>
			</tr>
		</thead>
		<tbody>
		<tr ng-repeat="clients in data.clients">
			<td>
				<a ng-click="connectClient(clients.id, clients.username)">{{clients.username}}</a>
			</td>
			<td>
				{{clients.firstName}}
			</td>
			<td>
				{{clients.lastName}}
			</td>
			<td>
				{{clients.phoneNumber}}
			</td>
		</tr>
		</tbody>
		</table>
	</div>
</div>