<style>
	.maxwidthcontainer {
		max-width: 600px;
	}
</style>

<div>
	<a ui-sref="register" class="btn btn-warning">Voeg client toe</a>
	<div class="jumbotron">
		
		<h2>Registreer een nieuwe begeleider</h2>
		
		  	<div class="maxwidthcontainer">
				<form>
				  	<div class="form-group">
				    	<label for="firstname">Voornaam</label>
				    	<input type="text" class="form-control" ng-model="firstName" placeholder="Voornaam">
				  	</div>
				  	<div class="form-group">
					    <label for="lastname">Achternaam</label>
					    <input type="text" class="form-control" ng-model="lastName" placeholder="Achternaam">
				  	</div>
				  	<div class="form-group">
					    <label for="phoneNumber">Telefoonnummer</label>
					    <input type="text" class="form-control" ng-model="phoneNumber" placeholder="Telefoonnummer">
				  	</div>
				  	<div class="form-group">
					    <label for="username">Username</label>
					    <input type="text" class="form-control" ng-model="username" placeholder="Username">
				  	</div>
				  	<div class="form-group">
					    <label for="password">Wachtwoord</label>
					    <input type="text" class="form-control" ng-model="password" placeholder="Wachtwoord">
				  	</div>
				  	<br>
				  	<button class="btn btn-danger" ng-click="submit()">Toevoegen</button>
				</form>
			</div>
		{{message}}
	</div>
</div>

