<div>
	<!--<a ui-sref="reports" class="pull-right btn btn-primary btn-outline btn-rounded">Routes</a>-->
	<h2><small></small></h2>
	<div class="jumbotron">
		
				<h2>Patientgegevens</h2>

		<input value="Profiel 1" type="button"class="pull-left btn btn-primary btn-outline btn-rounded" name="profiel1" id="profiel2" ng-click="fillProfile1()">
		<input value="Profiel 2" type="button"class="pull-left btn btn-primary btn-outline btn-rounded" name="profiel2" id="profiel2" ng-click="fillProfile2()">
		<input value="Profiel 3" type="button"class="pull-left btn btn-primary btn-outline btn-rounded" name="profiel3" id="profiel2" ng-click="fillProfile3()">

		<br>
		<br>

		  	<div class="maxwidthcontainer">
				<form>
				  	<div class="form-group">
				    	<label for="firstname">Voornaam</label>
				    	<input type="text" class="form-control" ng-model="firstName" placeholder="Voornaam">
				  	</div>
				  	<div class="form-group">
					    <label for="lastname">Achternaam</label>
					    <input type="text" class="form-control" ng-model="lastName" placeholder="Achternaam">
				  	</div>
				  	<div class="form-group">
					    <label for="phoneNumber">Telefoonnummer</label>
					    <input type="text" class="form-control" ng-model="phoneNumber" placeholder="Telefoonnummer">
				  	</div>
				  	<div class="form-group">
					    <label for="username">Username</label>
					    <input type="text" class="form-control" ng-model="username" placeholder="Username">
				  	</div>
				  	<div class="form-group">
					    <label for="password">Wachtwoord</label>
					    <input type="text" class="form-control" ng-model="password" placeholder="Wachtwoord">
				  	</div>
				  	<div class="form-group">
					    <label for="profile">Profiel</label>
					    <input type="textarea" class="form-control" ng-model="profile">
				  	</div>
				  	<br>
				  	<button class="btn btn-danger" ng-click="submit()">Toevoegen</button>
				</form>
			</div>
		
	</div>
</div>

