<style>
	.maxwidthcontainer {
		max-width: 600px;
	}
</style>

<div>
	<!--<a ui-sref="reports" class="pull-right btn btn-primary btn-outline btn-rounded">Routes</a>-->
	<h2><small></small></h2>
	<div class="jumbotron">
		
		<h2>Patientgegevens</h2>

		<button ng-repeat="element in data" type="button" class="btn btn-info">{{element.name}}</button>

		<ul>
        	<li ng-repeat="name in profiles"><a href="#">{{console.log(name)}}</a></li>
    	</ul>
		
		  	<div class="maxwidthcontainer">
				<form>
				  	<div class="form-group">
				    	<label for="firstname">Voornaam</label>
				    	<input type="text" class="form-control" ng-model="firstName" placeholder="Voornaam">
				  	</div>
				  	<div class="form-group">
					    <label for="lastname">Achternaam</label>
					    <input type="text" class="form-control" ng-model="lastName" placeholder="Achternaam">
				  	</div>
				  	<div class="form-group">
					    <label for="phoneNumber">Telefoonnummer</label>
					    <input type="text" class="form-control" ng-model="phoneNumber" placeholder="Telefoonnummer">
				  	</div>
				  	<div class="form-group">
					    <label for="username">Username</label>
					    <input type="text" class="form-control" ng-model="userName" placeholder="Username">
				  	</div>
				  	<div class="form-group">
					    <label for="password">Wachtwoord</label>
					    <input type="text" class="form-control" ng-model="passWord" placeholder="Wachtwoord">
				  	</div>
				  	<div class="form-group">
					    <label for="profile">Profiel</label>
					    <input type="textarea" class="form-control" ng-model="profile" value="hallo">
				  	</div>
				  	<br>
				  	<button class="btn btn-danger" ng-click="submit()">Toevoegen</button>
				</form>
			</div>
		
	</div>
</div>

