<div>
	<div class="collapse navbar-collapse">
		<ul class="nav navbar-nav">
			<!-- <li><a class ="active" href="/">Mijn gegevens</a></li> -->
			<li ng-class="{active: $state.includes('mydetails')}"><a ui-sref="mydetails">Mijn gegevens <span class="sr-only">(current)</span></a></li>
			<li><a href="/">Mijn clienten</a></li>
		</ul>
		<a ui-sref="overview" class="pull-right btn btn-primary btn-outline btn-rounded">Back to Overview</a>
	</div>
	<span class="glyphicon glyphicon-dashboard bg-fade"></span>
	<div class="jumbotron">
		<div class="container">
		</div>
	</div>
</div>